// VISIT BULMA.IO FOR MORE INFORMATION AND VARIABLES
// http://bulma.io/documentation/overview/variables/



// COLORS
$bgcolor: #f9f9f9;
$basecolor:#a678ff;
$secondcolor: #fa94c0;
$fontcolor:#000;
$headercolor: #000;
$basegradient: linear-gradient(45deg, #fa94c0 0%,#a678ff 100%);


// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i');
$fontsize: 16px; // base for font-size
$mainfont: "Roboto", "Helvetica", Arial, sans-serif;
$subfont: "Roboto", "Helvetica", Arial, sans-serif;
$headerfont: "Roboto Slab", "Georgia", Times, serif;


// GRID
$widescreen: 1281px;
$desktop: 1070px;
$tablet: 769px;
$mobile: 480px; // does not exist in bulma


// IMPORT
@import "../node_modules/bulma/bulma";
@import "main"; // import your own scss