html,body {
  background-color: $bgcolor;
  font-family: $mainfont;
  font-size: $fontsize;
  color: $fontcolor;
}



// HEADERS AND TEXT

h1, h2, h3, h4, h5, h6, .title { 
  font-family: $headerfont;
  font-weight: $weight-bold; 
  color: $headercolor; 
}
h1 { font-size: $size-1; &.title { font-size: $size-1; } }
h2 { font-size: $size-2; &.title { font-size: $size-2; } }
h3 { font-size: $size-3; &.title { font-size: $size-3; } }
h4 { font-size: $size-4; &.title { font-size: $size-4; } }

p { font-size: 1rem; }



// NAV FIX + SUBMENU FIX
nav {

  .nav-brand {
    @include widescreen {
      padding: 0px;
    }

    @include mobile {
      padding-left: 1.5rem;
    }

    img {
      height: auto;
      min-width: 35px;
      max-width: 70px;
    }
  }

  .nav-menu {

    @include mobile {
      text-align: left;
    }

    li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      
      @include mobile {
        width: 100%;
        
        &.nav-item {
          display: block;
        }
      }

      a {
        padding: 0.75rem;

        @include mobile {
          width: 100%;
          float: left;
          padding: 0px;
        }
      }

      &.active {

        > a {
          color: $black;
        }
      }

      .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        transition: 2s all;

        @include mobile {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          margin-top: 15px;
        }

        @include tablet {
          box-shadow: 0 15px 30px 0px rgba(0,0,0,0.2);
          margin-left: -12.5px;
          
          > li {
            display: inline;

            > a {
              padding: 0.75rem 25px;
              border-top: 1px solid $bgcolor;
              text-align: left;
              width: 100%;
              float: left;
              display: block;
            }
          }
        }
      }

      &:hover {
        > ul {
          display: block;
        }
      }
    }
  }
}



// BUTTONS

.button {
  border-radius: 0; // overwrite Bulma radius of 3px
  border: 0; // overwrite Bulma border of 1px
}

.button-base {
  background-color: $basecolor;
  color: $fontcolor;

  &:hover {
    background-color: $secondcolor;
  }
}

.hero {

  .button {
    margin-top: 2rem;
  }
}



// HOMEPAGE HEADER

.header-homepage {
  background: $basegradient;
}



// COLUMNS

.columns {
  padding-top: 5rem; // create some space
  padding-bottom: 5rem; // create some space

  @include mobile {
    padding: 0;
    margin: 0;

    .column {
      padding: 1.5rem;
    }
  }
}



// FOOTER

footer {
  background-color: $secondcolor;
}